@model IEnumerable<BL.DataService.LoanApplicant>

@{
    ViewBag.Title = "getLoans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Applied Loans</h2>

<p>
    @Html.ActionLink("Create New", "addLoan")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            Mobile Number
        </th>
        <th>
            Email ID
        </th>
        <th>
            Aadhaar Number
        </th>
        <th>
            PAN Number
        </th>
        <th>
            Salary
        </th>
        <th>
            Amount Required
        </th>
        <th>
            Repayment Duration
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.applicantName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.applicantAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.applicantMobile)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.applicantEmail)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.applicantAadhaar)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.applicantPan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.applicantSalary)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.loanAmountRequired)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LoanRepaymentMonths)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.loanId }) |
        @Html.ActionLink("Details", "Details", new { id = item.loanId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.loanId })
    </td>
</tr>
}

</table>
