@model BL.DataService.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>@Model.username</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userRole)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId })
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
